// * external scss
@use 'button' as *;

// * colors
$white: #ffffff;
$black: #0d0e0f;
$primary: #0cb0e1;
$secondary: #673ab7;
$info: #3f51b5;
$warning: #ff9800;
$inherit: inherit;
$transparent: transparent;
$success: #4caf50;
$danger: #f44336;
$gray-1: #f8f9fa;
$gray-2: #f1f3f5;
$gray-3: #e9ecef;
$gray-4: #dee2e6;
$gray-5: #ced4da;
$gray-6: #adb5bd;
$gray-7: #868e96;
$gray-8: #495057;
$gray-9: #292d2f;
$gray-10: #151718;

// * theme colors
$light-text-color: $black;
$dark-text-color: $white;

// * 라이트 테마일 때 색상 설정
html.light {
  // * CSS color 변수
  --white: #{$white};
  --black: #{$black};
  --text-color: #{$light-text-color};

  // * 기본 색상
  background-color: var(--white);
  color: var(--text-color);

  // * tag
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $gray-10;
  }

  header {
    background-color: $gray-1;
    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
  }

  footer {
    background-color: $gray-1;
  }

  button {
    color: $black;
  }

  // * class
}

// * 다크 테마일 때 색상 설정
html.dark {
  // * CSS color 변수
  --white: #{$white};
  --black: #{$black};
  --text-color: #{$dark-text-color};

  // * 기본 색상
  background-color: var(--black);
  color: var(--text-color);

  // * tag
  header {
    background-color: $gray-1;
    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
  }

  footer {
    background-color: $gray-1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $gray-1;
  }

  header {
    background-color: $gray-10;
    box-shadow: 0 0.25rem 1.875rem rgba(255, 255, 255, 0.1);
  }

  footer {
    background-color: $gray-10;
  }

  button {
    color: $white;
  }

  // * class
}

// * 공통 색상 설정
html.light,
html.dark {
  // * CSS color 변수
  --white: #{$white};
  --black: #{$black};
  --gray-1: #{$gray-1};
  --gray-2: #{$gray-2};
  --gray-3: #{$gray-3};
  --gray-4: #{$gray-4};
  --gray-5: #{$gray-5};
  --gray-6: #{$gray-6};
  --gray-7: #{$gray-7};
  --gray-8: #{$gray-8};
  --gray-9: #{$gray-9};
  --border-color: #{$gray-3};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --info: #{$info};
  --warning: #{$warning};
  --inherit: #{$inherit};
  --transparent: #{$transparent};
  --success: #{$success};
  --danger: #{$danger};

  // * tag
  a {
    color: var(--inherit);
  }

  input,
  textarea,
  select {
    background-color: var(--transparent);
  }
}
